

body { 
    background-color: #40261E;
    height: 100vh;
    width: 100vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0; 
    
    .app{
        display: grid;
        grid-template-columns: 32vw 2vw 32vw 2vw 32vw; /* three columns for the search content results with 5% space between them */
        grid-template-rows: max-content 10px 3px 5px max-content auto; /* three vertical divisions the midle one is the orange line dividing header from the rest */ 
    }
    
    .logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 10px 10px 10px 10px;
        min-width: 64px;
        max-width: 250px;
        align-self:center;
        justify-self: start;
    }

    .button{
        margin: 3px 3px 3px 3px;
        background-color:#12B347;
        color: white;
        box-shadow: 5px 5px 5px -3px black;
        padding: 10px 10px 10px 10px;
        font-size: 20px;
        font-weight: normal;
        font-family: "Dosis", sans-serif;
        text-align: center;
        text-justify: distribute;
        border:#12B347;
        border-radius: 4px;
        cursor:pointer;
    }

    .logOutButton{
        margin: 3px 3px 3px 3px;
        background-color:#8F8F8F;
        color: white;
        box-shadow: 5px 5px 5px -3px black;
        padding: 10px 15px 10px 15px;
        font-size: 20px;
        font-weight: normal;
        font-family: "Dosis", sans-serif;
        text-align: center;
        text-justify: distribute;
        border:#8F8F8F;
        border-radius: 4px;
        cursor:pointer;
    }


    .rightTile{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 10px 10px 10px 10px;
        height: fit-content;
        width: fit-content;
        justify-content: space-evenly;
        align-self: center;
        justify-self: end;
    }

    .orangeLine{
        background-color: #F59325;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .homePhoto{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 6;
        width: 470px;
        align-self:center;
        justify-self: start;        
    }

    .welcome{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center; 
        align-self: flex-start;
        justify-self: center;
        margin-top: 10vh;
    }

    .welcomeText{
        color: whitesmoke;
        padding: 20px 20px 20px 20px;
        font-family: "Dosis", sans-serif;
        font-size: 2vw;
        font-weight: bold;
        align-self: center;
        justify-self: center;     
    }

    .search{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 10px 10px 10px 10px;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        align-self: center;
        justify-self: center;
    }

    .searchButton{
        background-color: #12B347;
        border: 1px solid #12B347;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        box-shadow: 5px 5px 5px -3px black;
        margin: 10px 10px 10px 10px;
        padding: 5px 5px 5px 5px;
        align-self: center;
        justify-self: end;
        align-content: center;
        justify-content: center;
        cursor:pointer;  
    }
    
    .loginForm{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 25vh 5vh 25vh 5vh;
        place-self: center center;
        text-align: center;
    }

    .formField{
        background-color: whitesmoke;
        border-radius: 10px;
        border-color: whitesmoke;
        height: 50;
        width: 300;
        padding: 10px 20px 10px 20px;
        margin: 10px 10px 10px 10px;
        font-family: "Dosis", sans-serif;
        font-size: 20px;
        align-self: center;
    }

    .artistResultsTile{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        background-color: rgba(99, 70, 45, 0.5);
        border-radius: 10px;
        text-align: center;
        text-justify: distribute;
        display:block;
        align-content: space-evenly;
        justify-content: center;
    }

    .albumResultsTile{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        background-color: rgba(99, 70, 45, 0.5);
        border-radius: 10px;
        text-align: center;
        text-justify: distribute;
        display:block;
        align-content: space-evenly;
        justify-content: center;
    }

    .songResultsTile{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
        background-color: rgba(99, 70, 45, 0.5);
        border-radius: 10px;
        text-align: center;
        text-justify: distribute;
        display:block;
        align-content: space-evenly;
        justify-content: center;
    }

    .resultTileTitle{
        color: whitesmoke;
        padding: 20px 20px 20px 20px;
        font-family: "Dosis", sans-serif;
        font-size: 3vw;
        font-weight: bold;
        align-self: center;
        justify-self: center;     
    }

    .resultFrame{
        margin: 5px 5px 5px 5px;
        padding: 10px 10px 10px 10px;
        border: 1px solid;
        border-color:#E6EDF5;
        border-radius: 10px;
        margin-bottom: 5px;
        display:flex;
        justify-content: space-between;
    }

    /* // vou fazer outra classe para o executar, para achar ele e colocar um listener */

    .playerClass{
        margin: 5px 5px 5px 5px;
        padding: 10px 10px 10px 10px;
        border: 1px solid;
        border: color #e6edf5;;
        border-radius: 10px;
        margin-bottom: 5px;
        display:flex;
        justify-content: space-between;
    }

    .cardImage{
        height: 80px;
        width: 80px;
        border-radius: 10px;
        align-self:center;
        justify-self:left;
    }

    .cardText{
        font-size: 30px;
        font-weight: normal;
        font-family: "Dosis", sans-serif;
        text-align: center;
        margin: 5px 5px 5px 5px;
        color: white;
        align-self:center;
        justify-self:left;
    }

.dropbtn {
    margin: 5px 5px 5px 5px;
    width: 60px;
    height: 60px;
    align-self:center;
    justify-self: right;
    background-image: url("../icons/options.png");
    background-color:rgba(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer; 
    border:none; 
}

.dropdown {
    
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(99, 70, 45, 1);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
    font-size: 30px;
    font-weight: normal;
    font-family: "Dosis", sans-serif;
}

.dropdown-content a {
    color: white;
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    border: 1px solid;
    border-color:#E6EDF5;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #40261E;
    cursor: pointer; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:rgba(99, 70, 45, 0.5);
}

.songPlayer{
    background-color:rgba(99, 70, 45, 0.5);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5
};

.audioPlayer{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
}

.playButton{
    height: 70px;
    width: 70px;
    border: none;
    background-color:rgba(99, 70, 45, 0);
    background-image: url("../icons/playbutton.png");
    background-repeat: no-repeat;
    justify-self: center;
}

.pauseButton{
    height: 60px;
    width: 60px;
    border: none;
    background-color:rgba(99, 70, 45, 0);
    background-image: url("../icons/pausebutton.png");
    background-repeat: no-repeat;
    justify-self: center;
}

}



footer{
    background-color: #26355E;
    color: silver;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    padding: 10px 10px 10px 10px;
}
