

body { 
    background-color: #40261E;
    height: 100vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display:grid;
    grid-template-rows: max-content auto;
    align-self: center;
    justify-self: center;
    
    .app{

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: grid;
        grid-template-columns: fit-content auto fit-content auto fit-content; /* three columns for the search content results with 5% space between them */
        grid-template-rows: max-content 1dvh 0.3dvh 0.5dvh max-content; /* three vertical divisions the midle one is the orange line dividing header from the rest */ 
    }
    
    .logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 1dvh 0.6dvw 1dvh 0.6dvw;
        min-width: 6.78dvw;
        max-width: 26.5dvh;
        align-self:center;
        justify-self: start;
    }

    .button{
        margin: 0.3dvh 0.19dvw 0.3dvh 0.19dvw;
        background-color:#12B347;
        color: white;
        box-shadow: 0.5dvh 0.5dvh 0.5dvh -0.3dvh black;
        padding: 1dvh 0.6dvw 1dvh 0.6dvw;
        font-size: 1.2dvw;
        font-weight: normal;
        font-family: "Dosis", sans-serif;
        text-align: center;
        text-justify: distribute;
        border:#12B347;
        border-radius: 0.5dvh;
        cursor:pointer;
    }

    .logOutButton{
        margin: 0.3dvh 0.19dvw 0.3dvh 0.19dvw;
        background-color:#8F8F8F;
        color: white;
        box-shadow: 0.5dvh 0.5dvh 0.5dvh -0.3dvh black;
        padding: 1dvh 0.6dvw 1dvh 0.6dvw;
        font-size: 1.2dvw;
        font-weight: normal;
        font-family: "Dosis", sans-serif;
        text-align: center;
        text-justify: distribute;
        border:#8F8F8F;
        border-radius: 0.5dvh;
        cursor:pointer;
    }


    .rightTile{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 1dvh 0.6dvw 1dvh 0.6dvw;
        height: fit-content;
        width: fit-content;
        justify-content: space-evenly;
        align-self: center;
        justify-self: end;
    }

    .orangeLine{
        background-color: #F59325;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .homePhoto{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 6;
        width: 25dvw;
        align-self:center;
        justify-self: start;        
    }

    .welcome{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center; 
        align-self: flex-start;
        justify-self: center;
        margin-top: 10vh;
    }

    .welcomeText{
        color: whitesmoke;
        padding: 2dvh 1.2dvw 2dvh 1.2dvw;
        font-family: "Dosis", sans-serif;
        font-size: 2dvw;
        font-weight: bold;
        align-self: center;
        justify-self: center;     
    }

    .search{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 1dvh 0.6dvw 1dvh 0.6dvw;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        align-self: center;
        justify-self: center;
    }

    .searchButton{
        background-color: #12B347;
        border: 0.01dvh solid #12B347;
        border-radius: 5.3dvh;
        height: 5.3dvh;
        width: 5.3dvh;
        box-shadow: 0.5dvh 0.5dvh 0.5dvh -0.3dvh black;
        margin: 1dvh 0.6dvw 1dvh 0.6dvw;
        padding: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        align-self: center;
        justify-self: end;
        align-content: center;
        justify-content: center;
        cursor:pointer;  
    }
    
    .loginForm{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 25vh 5vh 25vh 5vh;
        place-self: center center;
        text-align: center;
    }

    .formField{
        background-color: whitesmoke;
        border-radius: 2dvh;
        border-color: whitesmoke;
        height: 5.3dvh;
        width: 19dvw;
        padding: 1dvh 1.2dvw 1dvh 1.2dvw;
        margin: 1dvh 0.6dvw 1dvh 0.6dvw;
        font-family: "Dosis", sans-serif;
        font-size: 2dvh;
        align-self: center;
    }

    .artistResultsTile{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        background-color: rgba(99, 70, 45, 0.5);
        border-radius: 2dvh;
        text-align: center;
        text-justify: distribute;
        display:block;
        align-content: space-evenly;
        justify-content: center;
        width:30dvw;
        justify-self: center;
    }

    .albumResultsTile{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        background-color: rgba(99, 70, 45, 0.5);
        border-radius: 2dvh;
        text-align: center;
        text-justify: distribute;
        display:block;
        align-content: space-evenly;
        justify-content: center;
        width:30dvw;
        justify-self: center;
    }

    .songResultsTile{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        background-color: rgba(99, 70, 45, 0.5);
        border-radius: 2dvh;
        width:30dvw;
        text-align: center;
        text-justify: distribute;
        display:block;
        align-content: space-evenly;
        justify-content: center;
        justify-self: center;
    }

    .resultTileTitle{
        color: whitesmoke;
        padding: 2dvh 1.2dvw 2dvh 1.2dvw;
        font-family: "Dosis", sans-serif;
        font-size: 3vw;
        font-weight: bold;
        align-self: center;
        justify-self: center;     
    }

    .resultFrame{
        padding: 1dvh 0.6dvw 1dvh 0.6dvw;
        border: 0.1dvh solid;
        border-color:#E6EDF5;
        border-radius: 2dvh;
        display:flex;
        justify-content: space-between;
        max-width: 30dvw;
        margin-top: 0.5dvh;
        margin-bottom: 0.5dvh;
    }

    /* // vou fazer outra classe para o executar, para achar ele e colocar um listener */

    .playerClass{
        margin: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        padding: 1dvh 0.6dvw 1dvh 0.6dvw;
        border: 0.1dvh solid;
        border: color #e6edf5;;
        border-radius: 2dvh;
        display:flex;
        justify-content: space-between;
    }

    .cardImage{
        height: 8.5dvh;
        width: 8.5dvh;
        border-radius: 2dvh;
        align-self:center;
        justify-self:left;
    }

    .cardText{
        font-size: 3dvh;
        font-weight: normal;
        font-family: "Dosis", sans-serif;
        text-align: center;
        margin: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        color: white;
        align-self:center;
        justify-self:left;
    }

    .dropbtn {
        margin: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        width: 6.36dvh;
        height: 3.81dvw;
        align-self:center;
        justify-self: right;
        background-image: url("../icons/options.png");
        background-color:rgba(0, 0, 0, 0);
        border-radius: 2dvh;
        cursor: pointer; 
        border:none; 
    }

    .dropdown {
        
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(99, 70, 45, 1);
        min-width: 11.44dvw;
        box-shadow: 0px 0.51dvw 1.02dvw 0px rgba(0,0,0,0.2);
        border-radius: 2dvh;
        z-index: 1;
        font-size: 3dvh;
        font-weight: normal;
        font-family: "Dosis", sans-serif;
    }

    .dropdown-content a {
        color: white;
        margin: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        padding: 1dvh 0.6dvw 1dvh 0.6dvw;
        border: 0.1dvh solid;
        border-color:#E6EDF5;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #40261E;
        cursor: pointer; 
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color:rgba(99, 70, 45, 0.5);
    }

    .audioPlayer{
        height: fit-content;
        width: fit-content;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        align-self: center;
        justify-self: center;
    }

    .playButton{

        border: none;
        background-color:rgba(99, 70, 45, 0);
        justify-self: center;
        align-self: center;
        grid-column-start: 4;
        grid-column-end: 5;
        
    }

    .pauseButton{

        border: none;
        background-color:rgba(99, 70, 45, 0);
        justify-self: center;
        align-self: center;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .songPlayer {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 2dvh;
        background-color:rgba(99, 70, 45, 0.5);
        height: max-content;
        max-height: 80dvh;
        width: max-content;
        align-self: center;
        justify-self: center;
        z-index: 1;
        object-fit: contain;
        }


    .songPlayerBackground{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        border-radius: 2dvh;
        z-index: 0;
        width: inherit;
        align-self: center;
        justify-self: center;
        max-height: 80dvh;
        clip:auto;
    }
    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.65dvh;
    }
    
    .track-art {
    margin: 25px;
    height: 250px;
    width: 20dvw;
    height: 20dvw;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
    }
    
    /* Changing the font sizes to suitable ones */
    .now-playing {
        font-size: 2dvh;
        font-weight: bold;
        font-family: "Dosis", sans-serif;
        text-align: center;
        margin: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        color: white;
    }
    
    .track-name {
        font-size: 3dvh;
        font-weight: bolder;
        font-family: "Dosis", sans-serif;
        text-align: center;
        margin: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        color: white;
    }
    
    .track-artist {
        font-size: 2dvh;
        font-weight: bold;
        font-family: "Dosis", sans-serif;
        text-align: center;
        margin: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
        color: white;
    }
    
    /* Using flex with the row direction to
    align items in a horizontal direction */
    .buttons, .slider_container {
    display:flex;
    justify-content: space-around;
    }
    
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 0.8;

    /* Smoothly transition the opacity */
    transition: opacity .2s;
    }

    .prev-track, .next-track{
        display: flex;
        border: none;
        align-self: center;
        align-content: center;
        justify-content: center;
        margin:0.5dvh 0.3dvw 0.5dvh 0.3dvw;
    }


    .prev-track{
        justify-self: left;
    }

    .next-track{
        justify-self: right;
    }
    
    
    
    /* Change the opacity when mouse is hovered */
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
    /* Define the slider width so that it scales properly */
    .slider_container {
    width: 75dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    
    /* Modify the appearance of the slider */
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0.7dvh;
    background: #F59325;
    opacity: 0.7;
    border-radius: 0.1dvh;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:0.5dvh 0.3dvw 0.5dvh 0.3dvw;
    box-shadow: 0.5dvh 0.5dvh 0.5dvh -0.3dvh black;
    }
    
    /* Modify the appearance of the slider thumb */
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: #12B347;
    box-shadow: 0.5dvh 0.5dvh 0.5dvh -0.3dvh black;
    }
    
    /* Change the opacity when mouse is hovered */
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    font-size: 2dvh;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    text-align: center;
    margin: 0.5dvh 0.3dvw 0.5dvh 0.3dvw;
    color: white;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    }
    
    /* Change the mouse cursor to a pointer
    when hovered over */
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward {
    cursor: pointer;
    }

}



footer{
    background-color: #26355E;
    padding: 1dvh 0.6dvw 1dvh 0.6dvw;
    color: silver;
    font-size: 1dvh;
    min-height: 2dvh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-row-start: 2;
    grid-row-end: 3;
}