

body { 
    background-color: #40261E;
    height: 100vh;
    width: 100vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
    .app{
        display: grid;
        grid-template-columns: 30vw 5vw 30vw 5vw 30vw; /* three columns for the search content results with 5% space between them */
        grid-template-rows: max-content 10px 3px 5px max-content auto; /* three vertical divisions the midle one is the orange line dividing header from the rest */ 
    }
    
    .logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 10px 10px 10px 10px;
        min-width: 64px;
        max-width: 250px;
        align-self:center;
        justify-self: start;
    }

    .button{
        margin: 3px 3px 3px 3px;
        background-color:#12B347;
        color: white;
        box-shadow: 5px 5px 5px -3px black;
        padding: 10px 10px 10px 10px;
        font-size: 20px;
        font-weight: normal;
        font-family: "Dosis", sans-serif;
        text-align: center;
        text-justify: distribute;
        border:#12B347;
        border-radius: 4px;
    }

    .rightTile{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 10px 10px 10px 10px;
        height: fit-content;
        width: fit-content;
        justify-content: space-evenly;
        align-self: center;
        justify-self: end;
    }

    .orangeLine{
        background-color: #F59325;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .homePhoto{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 6;
        width: 470px;
        align-self:center;
        justify-self: start;        
    }

    .welcome{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center; 
        align-self: flex-start;
        justify-self: center;
        margin-top: 10vh;
    }

    .welcomeText{
        color: whitesmoke;
        padding: 20px 20px 20px 20px;
        font-family: "Dosis", sans-serif;
        font-size: 2vw;
        font-weight: bold;
        align-self: center;
        justify-self: center;     
    }

    .search{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 10px 10px 10px 10px;
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        align-self: center;
        justify-self: center;
    }

    .searchField{
        background-color: whitesmoke;
        border-radius: 10px;
        border-color: whitesmoke;
        height: 50;
        width: 250;
        padding: 10px 20px 10px 20px;
        margin: 10px 10px 10px 10px;
        font-family: "Dosis", sans-serif;
        font-size: 20px;
        align-self: center;
        justify-self: start;   
    }

    .searchButton{
        background-color: #12B347;
        border: 1px solid #12B347;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        box-shadow: 5px 5px 5px -3px black;
        margin: 10px 10px 10px 10px;
        padding: 5px 5px 5px 5px;
        align-self: center;
        justify-self: end;
        align-content: center;
        justify-content: center;  
    }


}

footer{
    background-color: #26355E;
    color: silver;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    padding: 10px 10px 10px 10px;
}